<div (click)="onClose()" class="fixed inset-0 z-150 w-full h-dvh bg-slate-700/40 backdrop-blur-2xl"></div>

<div class="fixed inset-0 z-160 flex items-center justify-center p-0 sm:p-6 lg:p-8 pointer-events-none">

    <div class="pointer-events-auto bg-slate-200 w-full md:w-160 h-dvh sm:h-auto sm:max-h-[90dvh] flex flex-col overflow-hidden sm:rounded-2xl shadow-2xl">
        <div class="flex-none flex pt-[env(safe-area-inset-top)] justify-between items-center px-4 bg-linear-to-br from-yellow-500 to-yellow-400 sm:rounded-t-2xl h-auto min-h-12 sticky top-0 z-20">
            <h1 class="text-xl font-bold text-slate-800">Change Password</h1>
            <button (click)="onClose()" class="flex items-center justify-center cursor-pointer p-2 hover:text-red-600 active:opacity-70 text-red-800">
                <ng-icon name="faSolidXmark" class="text-2xl"></ng-icon>
            </button>
        </div>

        <div class="flex flex-col flex-1 overflow-y-auto p-5 sm:p-7 gap-6">
            <div class="bg-slate-100 rounded-xl p-4 shadow-sm">
                <div class="flex items-start gap-3">
                    <div class="text-slate-700 flex flex-col gap-2">
                        <div class="flex gap-2 justify-center items-center">
                            <ng-icon name="faSolidCircleInfo" class="text-blue-500! text-2xl shrink-0"></ng-icon>
                            <p class="font-semibold text mb-1">Security Notice</p>
                        </div>
                        <p class="text-sm leading-relaxed">
                            For your account security, changing your password will log you out from all active sessions. You'll need to sign in again after the update.
                        </p>
                    </div>
                </div>
            </div>

            <form id="passwordForm" (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-col gap-4 flex-1">
                <label class="flex flex-col gap-2">
                    <span class="text-sm font-medium text-slate-700">Current Password <span class="text-red-600">*</span></span>
                    <div class="flex items-center gap-4 justify-between shadow-md bg-linear-to-br from-white to-slate-50 rounded-lg px-4 py-4 transition-colors duration-200 border focus-within:outline outline-amber-400"
                    [class.border-red-500]="!isControlValid('currentPassword', form)"
                    [class.border-transparent]="isControlValid('currentPassword', form)">
                        <div class="flex justify-center">
                            <ng-icon name="faSolidLock" class="text-emerald-700! text-xl"></ng-icon>
                        </div>
                        <input formControlName="currentPassword" class="flex-1 bg-transparent outline-none text-lg" type="password" placeholder="Enter current password">
                    </div>
                    @if(!isControlValid('currentPassword', form)) {
                        <div class="text-red-600 text-sm font-semibold">
                            @if(form.get('currentPassword')?.errors?.['required']) {
                                <span>Current password is required</span>
                            }
                            @if(form.get('currentPassword')?.errors?.['minlength']) {
                                <span>Password must be at least 6 characters</span>
                            }
                            @if(form.get('currentPassword')?.errors?.['invalid']) {
                                <span>Current password is incorrect</span>
                            }
                        </div>
                    }
                </label>

                <div class="border-t-2 border-slate-300 my-2"></div>

                <label class="flex flex-col gap-2">
                    <span class="text-sm font-medium text-slate-700">New Password <span class="text-red-600">*</span></span>
                    <div class="flex items-center gap-4 justify-between shadow-md bg-linear-to-br from-white to-slate-50 rounded-lg px-4 py-4 transition-colors duration-200 border focus-within:outline outline-amber-400"
                    [class.border-red-500]="!isControlValid('newPassword', form)"
                    [class.border-transparent]="isControlValid('newPassword', form)">
                        <div class="flex justify-center">
                            <ng-icon name="faSolidKey" class="text-emerald-700! text-xl"></ng-icon>
                        </div>
                        <input formControlName="newPassword" class="flex-1 bg-transparent outline-none text-lg" type="password" placeholder="Enter new password">
                    </div>
                    @if(!isControlValid('newPassword', form)) {
                        <div class="text-red-600 text-sm font-semibold">
                            @if(form.get('newPassword')?.errors?.['required']) {
                                <span>New password is required</span>
                            }
                            @if(form.get('newPassword')?.errors?.['minlength']) {
                                <span>Password must be at least 6 characters</span>
                            }
                            @if(form.get('newPassword')?.errors?.['tooShort']) {
                                <span>Password is too short</span>
                            }
                            @if(form.get('newPassword')?.errors?.['requiresDigit']) {
                                <span>Password must contain at least one digit ('0'-'9')</span>
                            }
                            @if(form.get('newPassword')?.errors?.['requiresUpper']) {
                                <span>Password must contain at least one uppercase letter ('A'-'Z')</span>
                            }
                            @if(form.get('newPassword')?.errors?.['requiresNonAlphanumeric']) {
                                <span>Password must contain at least one special character</span>
                            }
                            @if(form.get('newPassword')?.errors?.['validationError']) {
                                <span>{{ form.get('newPassword')?.errors?.['validationError'] }}</span>
                            }
                        </div>
                    }
                </label>

                <label class="flex flex-col gap-2">
                    <span class="text-sm font-medium text-slate-700">Confirm Password <span class="text-red-600">*</span></span>
                    <div class="flex items-center gap-4 justify-between shadow-md bg-linear-to-br from-white to-slate-50 rounded-lg px-4 py-4 transition-colors duration-200 border focus-within:outline outline-amber-400"
                    [class.border-red-500]="!isControlValid('confirmPassword', form)"
                    [class.border-transparent]="isControlValid('confirmPassword', form)">
                        <div class="flex justify-center">
                            <ng-icon name="faSolidKey" class="text-emerald-700! text-xl"></ng-icon>
                        </div>
                        <input formControlName="confirmPassword" class="flex-1 bg-transparent outline-none text-lg" type="password" placeholder="Confirm new password">
                    </div>
                    @if(!isControlValid('confirmPassword', form)) {
                        <div class="text-red-600 text-sm font-semibold">
                            @if(form.get('confirmPassword')?.errors?.['required']) {
                                <span>Please confirm your password</span>
                            }
                            @if(form.get('confirmPassword')?.errors?.['minlength']) {
                                <span>Password must be at least 6 characters</span>
                            }
                            @if(form.get('confirmPassword')?.errors?.['mismatch']) {
                                <span>Passwords do not match</span>
                            }
                        </div>
                    }
                </label>
            </form>
        </div>

        <div class="flex-none p-4 sm:p-6 bg-slate-200 flex justify-center pb-[calc(1rem+env(safe-area-inset-bottom))]">
            <app-button htmlType="submit" form="passwordForm" label="Save Changes" buttonType="primary" [disabled]="form.invalid" (clicked)="onSubmit()"></app-button>
        </div>
    </div>
</div>
