<div class="flex gap-4 flex-wrap">
    <div
        class="bg-slate-200 rounded-lg md:rounded-2xl shadow-xl transition-shadow duration-200 hover:shadow-2xl grow"
    >
        <div
            class="flex justify-between bg-amber-400 md:bg-linear-to-br from-yellow-500 to-yellow-400 w-full rounded-t-lg md:rounded-t-2xl px-4 py-2 text-slate-800 items-center"
        >
            <h1 class="font-bold text-xl">Workouts per month</h1>
            @if(availableYears()?.length! > 0) {
            <select
                (change)="onYearChange($event)"
                class="px-2 py-1 bg-slate-100 appearance-none rounded-md shadow-md text-slate-800 font-semibold"
            >
                @if(selectedYear()) {
                <option [value]="selectedYear()" selected disabled hidden>
                    {{selectedYear()}}
                </option>
                } @for(year of availableYears(); track $index) {
                <option [value]="year">{{year}}</option>
                }
            </select>
            }
        </div>

        <div class="flex flex-col min-h-70 gap-4">
            <div
                [class.p-4]="!availableYears()"
                class="flex items-center justify-center flex-col grow gap-4"
            >
                @if(availableYears()?.length! === 0) {
                <div
                    class="flex flex-col gap-3 justify-center items-center py-8 flex-1 w-full min-w-full sm:min-w-85 max-w-[99%] mx-auto"
                >
                    <ng-icon
                        name="faSolidChartLine"
                        class="text-3xl sm:text-4xl opacity-50"
                    ></ng-icon>
                    <p class="text-xl sm:text-2xl text-slate-600 font-semibold text-center">
                        Workout chart is not available
                    </p>
                    <p class="text-lg sm:text-xl text-slate-600 font-semibold text-center">
                        Start tracking your workouts to unlock the workout chart
                    </p>
                </div>
                } @else if(availableYears()?.length! > 0) {
                <apx-chart
                    class="w-full h-full block"
                    [series]="chartOptions().series"
                    [chart]="chartOptions().chart"
                    [plotOptions]="chartOptions().plotOptions"
                    [dataLabels]="chartOptions().dataLabels"
                    [stroke]="chartOptions().stroke"
                    [xaxis]="chartOptions().xaxis"
                    [yaxis]="chartOptions().yaxis"
                    [fill]="chartOptions().fill"
                    [responsive]="chartOptions().responsive"
                    [tooltip]="chartOptions().tooltip"
                ></apx-chart>
                } @else {
                <ngx-skeleton-loader
                    count="7"
                    [theme]="{
                    'border-radius': '8px',
                    'background': '#fed7aa'
        }"
                    class="flex-1 min-w-full mt-auto sm:min-w-85 mx-auto w-[26vw]"
                >
                </ngx-skeleton-loader>

                }
            </div>
        </div>
    </div>
</div>
