<div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center w-[80%]">
        <h1 class="text-5xl font-semibold text-gray-800 text-center">Forgot password</h1>
    </div>

    <div class="mt-6 w-[80%] flex flex-col text-center p-4 border border-gray-300 rounded-xl gap-1">
        <h3 class="font-semibold text-gray-800 text-base">Forgot your password?</h3>
        <p class="text-sm text-gray-600 leading-relaxed">
            No worries, enter your email address and we will send you instructions to reset your
            password.
        </p>
    </div>

    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="mt-6 w-[80%] flex flex-col justify-center gap-6"
    >
        <div class="flex flex-col w-full">
            <div
                class="flex border-b-2 w-full bg-transparent p-1 px-2 transition-colors duration-200"
                [class.border-b-red-500]="email.invalid && (email.touched || email.dirty)"
                [class.border-b-gray-700]="!email.invalid || (!email.touched && !email.dirty)"
            >
                <label
                    for="email"
                    class="flex w-full border-none outline-none bg-transparent gap-4 text-xl"
                >
                    <ng-icon
                        class="self-center shrink-0 text-gray-600!"
                        name="faSolidEnvelope"
                    ></ng-icon>
                    <input
                        formControlName="email"
                        type="text"
                        id="email"
                        name="email"
                        class="w-full border-none outline-none bg-transparent"
                        placeholder="Email address"
                    />
                </label>
            </div>
            @if (email.invalid && email.touched) {
            <div class="text-red-600 text-sm mt-1 ml-10">
                @if (email.hasError('required')) {
                <p>Email is required</p>
                } @if (email.hasError('email')) {
                <p>Please enter a valid email address</p>
                }
            </div>
            }
        </div>

        <div class="flex flex-col relative gap-2 items-center mt-4">
            <app-button
                buttonType="secondary"
                buttonSize="sm"
                htmlType="submit"
                label="Send instructions"
                [isLoading]="isLoading()"
                [disabled]="form.invalid || isOnCooldown()"
                fontSize="xl"
            ></app-button>
            @if (isOnCooldown()) {
            <p class="text-gray-600 text-sm text-center">
                Try again in {{ cooldownDuration() }} seconds.
            </p>
            }
            <p class="text-gray-600 mt-2">
                <a
                    routerLink="/login"
                    class="text-yellow-600 hover:text-yellow-700 transition-colors duration-200 underline"
                    >Back to sign in</a
                >
            </p>
        </div>
    </form>
</div>
